.paragraphs__paragraph {
    max-width: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Inter','Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    align-self: start;
}

@media screen and (max-width: 1023px) and (min-width: 320px) {
    .paragraphs__paragraph {
        font-size: 16px;
        line-height: 26px;
    } 
}