.footer__links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 18px;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .footer__links {
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }
}