.website__url-heading {
    margin: 0 0 12px;
    padding: 0;
    color: #aaa;
    font-family: 'Inter','Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
}