.cover {
    max-width: 1184px;
    margin: 0;
    padding: 0 48px;
    position: relative;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .cover {
        max-width: 1024px;
        padding: 0;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .cover {
        max-width: 768px;
        padding: 0;
    } 
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .cover {
        max-width: 320px;
        padding: 0;
    }
}
